{% extends 'base.html' %}


{%block content%}
<div class="homepage">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <h2 style="font-size: 80px; font-family: 'Lobster', cursive;  padding-top: 40px; text-align: center; color: purple;">
                    The Best BlogsQuote App Available..!</h2>
                    <br><br>

                <p style="color: crimson; font-size: 20px;">{{blogQuote.quote}}</p>
                
                <p class="text-right"  style="color: crimson; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 15px;"><b>~ {{blogQuote.author}} ~</b> </p>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
{%endblock%}